# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
.Rproj.user
tests.csv
ayo hwk1.pdf
alphas.txt
alphas2.txt
alphas3.txt
alphas4.txt
banana.csv
tests.csv
hwk1.html
